<!DOCTYPE html>
<html>
  <head>
    <title>Comic Book Friends!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>COMIC BOOK FRIENDS!!!1!!</h1>
    <p>Welcome to the RC Comic Book Club! Check out what books <a href="/userlist">your friends</a> are reading, and trade your comics with them!</p>
  
    <p>Check out some of the most popular comic books at RC!</p>
    <% /* pull 10 most commonly listed books in to grid */ %>
  </body>
</html>
