title {
	padding: 50 px, 10 px, 10 px, 50 px;
	font: 20 px "Comic Sans MS", cursive, sans-serif;
	margin: auto;
}

body {
  padding: 50px;
  font: 14px "Comic Sans MS", cursive, sans-serif;
}

a {
  color: #339933;
}
